(
   entities: {
     0: (
       components: {
         "bevy_asset::handle::Handle<bevy_render::mesh::mesh::Mesh>": (
           id: Id("8ecbac0f-f545-4473-ad43-e1f4243af51e", 9274126780494902850),
         ),
         "bevy_asset::handle::Handle<bevy_pbr::pbr_material::StandardMaterial>": (
           id: Id("7494888b-c082-457b-aacf-517228cc0c22", 9399192938557672737),
         ),
         "bevy_transform::components::transform::Transform": (
           translation: (
             x: 0.0,
             y: 0.0,
             z: 0.0,
           ),
           rotation: (0.0, 0.0, 0.0, 1.0),
           scale: (
             x: 2.0,
             y: 2.0,
             z: 2.0,
           ),
         ),
         "bevy_transform::components::global_transform::GlobalTransform": ((
           matrix3: (
             x_axis: (
               x: 1.0,
               y: 0.0,
               z: 0.0,
             ),
             y_axis: (
               x: 0.0,
               y: 1.0,
               z: 0.0,
             ),
             z_axis: (
               x: 0.0,
               y: 0.0,
               z: 1.0,
             ),
           ),
           translation: (
             x: 0.0,
             y: 0.0,
             z: 0.0,
           ),
         )),
         "bevy_render::view::visibility::Visibility": (
           is_visible: true,
         ),
         "bevy_render::view::visibility::ComputedVisibility": (
           is_visible_in_hierarchy: false,
           is_visible_in_view: false,
         ),
       },
     ),
     1: (
       components: {
         "bevy_asset::handle::Handle<bevy_render::mesh::mesh::Mesh>": (
           id: Id("8ecbac0f-f545-4473-ad43-e1f4243af51e", 14997970011285428877),
         ),
         "bevy_asset::handle::Handle<bevy_pbr::pbr_material::StandardMaterial>": (
           id: Id("7494888b-c082-457b-aacf-517228cc0c22", 13487579056845269015),
         ),
         "bevy_transform::components::transform::Transform": (
           translation: (
             x: 0.0,
             y: 0.5,
             z: 0.0,
           ),
           rotation: (0.0, 0.0, 0.0, 1.0),
           scale: (
             x: 1.0,
             y: 1.0,
             z: 1.0,
           ),
         ),
         "bevy_transform::components::global_transform::GlobalTransform": ((
           matrix3: (
             x_axis: (
               x: 1.0,
               y: 0.0,
               z: 0.0,
             ),
             y_axis: (
               x: 0.0,
               y: 1.0,
               z: 0.0,
             ),
             z_axis: (
               x: 0.0,
               y: 0.0,
               z: 1.0,
             ),
           ),
           translation: (
             x: 0.0,
             y: 0.0,
             z: 0.0,
           ),
         )),
         "bevy_render::view::visibility::Visibility": (
           is_visible: true,
         ),
         "bevy_render::view::visibility::ComputedVisibility": (
           is_visible_in_hierarchy: false,
           is_visible_in_view: false,
         ),
         "bevy_hierarchy::components::children::Children": ([
           (
             generation: 0,
             index: 2,
           ),
         ]),
       },
     ),
     2: (
       components: {
         "bevy_asset::handle::Handle<bevy_render::mesh::mesh::Mesh>": (
           id: Id("8ecbac0f-f545-4473-ad43-e1f4243af51e", 15114585820539629785),
         ),
         "bevy_asset::handle::Handle<bevy_pbr::pbr_material::StandardMaterial>": (
           id: Id("7494888b-c082-457b-aacf-517228cc0c22", 2626654359401176236),
         ),
         "bevy_transform::components::transform::Transform": (
           translation: (
             x: 0.0,
             y: 1.0,
             z: 0.0,
           ),
           rotation: (0.0, 0.0, 0.0, 1.0),
           scale: (
             x: 1.0,
             y: 1.0,
             z: 1.0,
           ),
         ),
         "bevy_transform::components::global_transform::GlobalTransform": ((
           matrix3: (
             x_axis: (
               x: 1.0,
               y: 0.0,
               z: 0.0,
             ),
             y_axis: (
               x: 0.0,
               y: 1.0,
               z: 0.0,
             ),
             z_axis: (
               x: 0.0,
               y: 0.0,
               z: 1.0,
             ),
           ),
           translation: (
             x: 0.0,
             y: 0.0,
             z: 0.0,
           ),
         )),
         "bevy_render::view::visibility::Visibility": (
           is_visible: true,
         ),
         "bevy_render::view::visibility::ComputedVisibility": (
           is_visible_in_hierarchy: false,
           is_visible_in_view: false,
         ),
         "bevy_hierarchy::components::parent::Parent": ((
           generation: 0,
           index: 1,
         )),
       },
     ),
     3: (
       components: {
         "bevy_transform::components::transform::Transform": (
           translation: (
             x: 3.0,
             y: 8.0,
             z: 5.0,
           ),
           rotation: (0.0, 0.0, 0.0, 1.0),
           scale: (
             x: 1.0,
             y: 1.0,
             z: 1.0,
           ),
         ),
         "bevy_transform::components::global_transform::GlobalTransform": ((
           matrix3: (
             x_axis: (
               x: 1.0,
               y: 0.0,
               z: 0.0,
             ),
             y_axis: (
               x: 0.0,
               y: 1.0,
               z: 0.0,
             ),
             z_axis: (
               x: 0.0,
               y: 0.0,
               z: 1.0,
             ),
           ),
           translation: (
             x: 0.0,
             y: 0.0,
             z: 0.0,
           ),
         )),
         "bevy_render::view::visibility::Visibility": (
           is_visible: true,
         ),
         "bevy_render::view::visibility::ComputedVisibility": (
           is_visible_in_hierarchy: false,
           is_visible_in_view: false,
         ),
         "bevy_pbr::light::PointLight": (
           color: Rgba(
             red: 1.0,
             green: 1.0,
             blue: 1.0,
             alpha: 1.0,
           ),
           intensity: 800.0,
           range: 20.0,
           radius: 0.0,
           shadows_enabled: false,
           shadow_depth_bias: 0.02,
           shadow_normal_bias: 0.6,
         ),
         "bevy_pbr::bundle::CubemapVisibleEntities": (),
         "bevy_render::primitives::CubemapFrusta": (),
       },
     ),
   },
 )